# PROJECT INSTRUCTIONS AND TEMPLATE

You will work with several data files for this project. The goal of the project is to read, clean and transform available data to provide meaningful insights and perform useful computations on the data. You will start with reading and pre-processing climate data and answering some questions using this data. Then you will add demand forecasts (which depend on the climate) to the data and calculate some metrics useful for operations management. 

Some scaffolding is provided but it is mostly left up to you to figure out the detailed steps to accomplish tasks. Keep in mind though that your work will be evaluated on 1) how accurate it is, 2) whether you have met all assignment specifications, 3) how efficient your code is (for example, did you use a loop for repeated tasks), 4) how well you followed the good coding practices emphasized in the course. 

The steps required for the project are such that you can accomplish all tasks (except two) using the functionality you have learned in the course. For the two exceptions, instructions mention the libraries / functions that you should use. You can look it up  in the pandas reference and/or find examples on the web. <font color = "red"> The scope of this project is all material covered in the course until the lesson on Data Analysis in Python XIII - Conditions and Iteration with Datasets.</font>

<font color = "red">All academic integrity guidelines specified in the syllabus apply to this project as well. **DO NOT use concepts and functions not previously discussed in the course (even if you learned them elsewhere). The default penalty is zero for the question where such code is used.** If we notice the use of concepts and functions that were not covered in the course or mentioned in the question, or if the code does not appear similar to what your team has turned in before, we will ask you to set up a zoom meeting to explain the code. Failure to explain your submitted code may result in academic integrity violation proceedings. Please **CHECK THE ACADEMIC INTEGRITY SECTION IN THE SYLLABUS** for complete information. It is **your responsibility to review your code to ensure that you have only used concepts and functions covered in the course**.</font>

**To complete and submit this project, execute the following steps:**


1. Read the instructions in the remainder of this notebook and add your code to accomplish tasks. 
2. When you encounter questions to answer, write code to answer the question and then copy your answer to the markdown cell provided.
3. When you get to the end of the questions, re-execute your code as outlined below
    - Select Kernel > Restart Kernel and Run All Cells from the menu bar. 
    - Look through your code cells to ensure there are no errors. 
    - Look through all the questions and ensure that your response in the markdown cell matches the result you get from the corresponding code cell. 
    - Fix and errors/ mismatches that you find. 
4. After you have fixed all errors/ mismatches, access the Final Project Canvas quiz and submit your answers to all questions. Upload your notebook as a response to the last quiz question. **The quiz will allow 5 attempts and record your highest score**. You will be able to see which of your responses are incorrect after the first attempt. Use this information to fix errors in your notebook to get revised answers to the questions. Note that this may change answers to questions you answered correctly before. That should be a clue that you may still not have arrived at the correct answers. Once you are satisfied with your responses, attempt the Canvas quiz again and enter new responses. Upload the new version of your notebook as well. All your responses should be consistent with the latest version of your notebook (the TAs will verify this when they grade the manual part of the project). The notebook corresponding to the quiz attempt with the highest score will be manually graded to 1) confirm that the answers in the notebook match your quiz responses and 2) to grade other rubric items mentioned above (items and points are listed in the Canvas quiz).

<HR/>

## <font color='red'/>Student Name</font>

#### **Name:** Shweta Kulkarni

## Data Preparation

The data files for this project are available in the climate_data.zip folder. Download and unzip the folder (extract the files from the zip archive). When you do, you will see three folders named "total_precipitation", "vapor_pressure" and "sunshine_duration". Each folder contains multiple text files. Create three folders in Jupyter lab that have the above mentioned names (exactly). The folders should be at the same location as the project notebook. Then, upload the corresponding files to each folder. Note that Jupyter Lab does not support uploading an entire folder but does support uploading multiple files at once (select and drag-drop the files to upload). If you do this correctly, the pathname for the file total_precipitation_1951.txt will be "total_precipitation/total_precipitation_1951.txt".

Check the contents of the three folders. Each folder contains multiple files. Each file contains data for 12 months of a particular year. The year is identified in the name of the file and is also the first number in the file. The subsequent numbers in each file (after the year) are measurements for a given quantity (total precipiation, vapor pressure or sunshine duration) for the different months of the year. Notice that the column headers, which are included in the file content, are in German.

Read the data from all files in the three folders into three dataframes called precipation_data, vaopr_data and sunshine_data that meet the following specifications:

* Missing values are denoted by np.NaN
* Column names are in English instead of German

Find an efficient way to perform this task. For example, don't manually type the name of each file to be read. Use the `os` module in Python to retrieve a list of all files in a given folder. It contains a function that provides a list of all files in a folder. Feel free to search the Python documentation or do a web search to find the appropriate funtion from the os module. You may use only this one function from the os module. Do not use any other functions from the os module or other functions you find in your websearch that have not been covered in the course. 

You may see a file called `'.ipynb_checkpoints'` listed. You can ignore or delete this file since it is not a data file (i.e., don't try to read data from this file).

Don't write one or more lines of code for reading each file (i.e, don't write 10 lines of code to read 10 files from the total_precipitation folder, 20 lines of code to read 20 files and so on). Figure out a way to read many files with fewer lines of code. You can create separate code for each folder if you want.

Perform the necessary checks to ensure that all files have been read, all data has been combined correctly and the data have appropriate data types.

In [1]:
# your code here. Comment your code. Create as many code cells as you need.

import os
import pandas as pd
import numpy as np

#Mapping German column names to their English equivalents
column_mapping = {
    'Jahr': 'Year',
    'Jan': 'January',
    'Feb': 'February',
    'Mrz': 'March',
    'Apr': 'April',
    'Mai': 'May',
    'Jun': 'June',
    'Jul': 'July',
    'Aug': 'August',
    'Sep': 'September',
    'Okt': 'October',
    'Nov': 'November',
    'Dez': 'December'
}

#Initialize an empty DataFrame to store total precipitation data
precipitation_files = os.listdir('total_precipitation')
precipitation_data = pd.DataFrame()

#Loop through each file in the total_precipitation directory
for file_index in range(len(precipitation_files)):
    filename = precipitation_files[file_index]
    #Check if the file is a text files and exclude .ipynb_checkpoints
    if filename[-4:] == '.txt' and filename.find('.ipynb_checkpoints') == -1:
        file_path = 'total_precipitation/' + filename
        #Read the data from the file
        data = pd.read_csv(file_path, sep=';')
        #Append the data to the precipitation dataframe
        precipitation_data = pd.concat([precipitation_data, data], axis=0)

#Rename columns to English and replace empty strings with NaN for consistency
precipitation_data = precipitation_data.rename(columns=column_mapping)
precipitation_data = precipitation_data.replace('', np.nan)

#smilar modifications for vapor pressure data
vapor_files = os.listdir('vapor_pressure')
vapor_data = pd.DataFrame()

#Loop through each file in the vapor_pressure directory
for file_index in range(len(vapor_files)):
    filename = vapor_files[file_index]
    #Check if the file is a text files and exclude .ipynb_checkpoints
    if filename[-4:] == '.txt' and filename.find('.ipynb_checkpoints') == -1:
        file_path = 'vapor_pressure/' + filename
        #Read the data from the file
        data = pd.read_csv(file_path, sep=';')
        #Append the data to the vapor dataframe
        vapor_data = pd.concat([vapor_data, data], axis=0)

#Rename columns to English and replace empty strings with NaN for consistency
vapor_data = vapor_data.rename(columns=column_mapping)
vapor_data = vapor_data.replace('', np.nan)

# Reading sunshine duration data
sunshine_files = os.listdir('sunshine_duration')
sunshine_data = pd.DataFrame()

#Loop through each file in the sunshine_duration directory
for file_index in range(len(sunshine_files)):
    filename = sunshine_files[file_index]
    #Check if the file is a text file and not a checkpoint file
    if filename[-4:] == '.txt' and filename.find('.ipynb_checkpoints') == -1:
        file_path = 'sunshine_duration/' + filename
        #Read the data from the file
        data = pd.read_csv(file_path, sep=';')
        #Append the data to the sunshine_data DataFrame
        sunshine_data = pd.concat([sunshine_data, data], axis=0)

#Rename columns to English and replace empty strings with NaN for consistency
sunshine_data = sunshine_data.rename(columns=column_mapping)
sunshine_data = sunshine_data.replace('', np.nan)

#check output 
print("Precipitation Data:")
print(precipitation_data)

print("Vapor Data:")
print(vapor_data)

print("Sunshine Data:")
print(sunshine_data)

Precipitation Data:
    Year  January  February  March  April   May  June  July  August  \
0   1967     32.0      44.0   30.0   46.0  22.0  24.0  13.0    82.0
0   2011    112.0     101.0   70.0   80.0  28.0  28.0  12.0    37.0
0   1987     66.0      46.0   74.0   90.0  41.0   5.0  34.0    30.0
0   1956     87.0      36.0   35.0   26.0  22.0  25.0  35.0    29.0
0   1951     48.0      49.0   98.0   61.0  23.0  34.0  44.0   146.0
..   ...      ...       ...    ...    ...   ...   ...   ...     ...
0   1959     72.0      92.0  109.0   38.0  36.0  52.0  26.0   107.0
0   1952    100.0      24.0   28.0   23.0  16.0  35.0  25.0    19.0
0   1982     59.0      38.0   76.0   64.0  16.0   9.0  43.0    43.0
0   2002     54.0      32.0   34.0   80.0  49.0  12.0   9.0    63.0
0   2000     51.0      53.0   95.0   18.0  73.0   7.0  16.0    76.0

    September  October  November  December
0        59.0     39.0      50.0      50.0
0       122.0     64.0     157.0      58.0
0        52.0    226.0      63.0      71.0
0        83.0    173.0     131.0      78.0
0        64.0     89.0      47.0      72.0
..        ...      ...       ...       ...
0       100.0    102.0      47.0      74.0
0        59.0    105.0      56.0      80.0
0        70.0     55.0      98.0      55.0
0        44.0     42.0      25.0      73.0
0       103.0    113.0      24.0      36.0

[67 rows x 13 columns]
Vapor Data:
   Year  January  February  March  April   May  June  July  August  September  \
0  1984     28.1      28.1   28.1   29.8   NaN  29.8  29.8    29.8       29.8
0  2000      NaN       NaN    NaN    NaN   NaN   NaN   NaN     NaN        NaN
0  1982     28.0      28.1    NaN   29.8  29.8  29.8  29.8    29.8       28.1
0  1992      NaN       NaN   29.8   29.8  31.6  29.8  29.8    31.6       29.8
0  1994     29.8      29.8   29.8   29.8  29.8   NaN  29.8    29.8       29.8
0  1990     28.1      29.8   28.1   29.8   NaN  28.2   NaN     NaN       29.8
0  1968     26.4      26.4   28.1   28.1  29.8  29.8  29.8    29.8       29.8
0  1972      NaN       NaN    NaN    NaN   NaN   NaN   NaN    28.1        NaN
0  1975     28.1      28.1   28.1   29.9   NaN  29.9  29.9    29.9       29.9
0  2016     28.0      28.5   28.0   29.9  31.7  29.9  30.7    30.9       30.3
0  1991     28.1      28.1   28.1    NaN  31.6   NaN  31.6    29.8       31.6
0  2007      NaN       NaN    NaN    NaN   NaN   NaN   NaN     NaN       31.6
0  1970     28.1      28.1   28.1   29.9  29.8  29.9  28.1    29.8       29.8
0  2003      NaN       NaN    NaN    NaN   NaN   NaN   NaN     NaN        NaN
0  2002      NaN      28.0    NaN    NaN   NaN   NaN   NaN    29.4        NaN
0  1979     28.1       NaN    NaN   29.8  29.8  29.8  29.8    29.8       29.8
0  1971     26.4      26.1   26.4    NaN  29.8  28.1  29.8    28.1        NaN
0  1988     29.8      29.8   29.8   31.7  29.8  29.8  31.7    29.8       31.7
0  1983     28.1      28.1   29.8   29.8  31.7  31.7  29.8    29.8       29.8
0  2006      NaN       NaN    NaN    NaN   NaN   NaN   NaN    29.8        NaN
0  2009      NaN       NaN    NaN    NaN   NaN   NaN  30.3     NaN        NaN
0  2001      NaN       NaN    NaN    NaN   NaN   NaN  30.3     NaN        NaN
0  1993      NaN       NaN   27.2   29.8  23.8  29.8  29.8    29.8       29.8
0  1976     28.1      28.1   28.1    NaN   NaN   NaN   NaN     NaN        NaN
0  1974     28.1      28.1   28.1    NaN  29.9   NaN   NaN     NaN       29.9
0  2017     29.9      28.0   29.9   30.2  31.7  30.3  30.2    30.6       30.2
0  2013     29.9      29.4   29.9   31.1  31.3  30.8  29.9    30.5       30.5
0  2015     29.8      28.0   28.0   31.7  32.1  32.0  31.7    31.7       31.7
0  1995     28.1       NaN    NaN    NaN   NaN   NaN   NaN     NaN        NaN
0  2011     29.7      29.6   30.5   30.6  31.5  31.3  31.0    30.9       30.7
0  2014     28.0      28.0   29.3   30.9  32.2  32.0  31.9    31.4       31.0
0  1981     28.1      28.1   22.2    NaN  31.7   NaN  29.8     NaN       29.8
0  2012      NaN      30.0    NaN   31.4  31.3  30.9  31.1    31.4       30.9
0  1989     29.8      29.8   29.8   29.8  31.6  29.8  28.1    29.8       29.8
0  1969     26.4      26.4   28.1   29.8  29.8  29.8  29.8     NaN       29.8
0  1986     29.8      28.1   29.8    NaN  29.8   NaN  29.8    29.8       29.8
0  1985      NaN       NaN   29.8    NaN  29.8   NaN  29.8    29.8       29.8
0  2004      NaN      28.0    NaN    NaN   NaN   NaN  27.8     NaN        NaN
0  1997      NaN       NaN   28.1    NaN   NaN   NaN   NaN     NaN        NaN
0  2010      NaN       NaN    NaN    NaN   NaN   NaN  31.4     NaN        NaN
0  2008      NaN       NaN    NaN    NaN   NaN   NaN   NaN    28.9        NaN
0  1987     26.4       NaN   29.8    NaN  31.7  31.7   NaN    29.8        NaN
0  1980      NaN      28.2   28.1   29.8   NaN   NaN  29.8    29.8       29.8
0  1978     28.1       NaN   28.1   26.4   NaN   NaN   NaN     NaN        NaN

   October  November  December
0     29.8      29.8      29.8
0      NaN       NaN      29.9
0     29.8      29.8      29.8
0     29.8      29.8       NaN
0     29.8      29.8      29.8
0     29.8      29.8      26.4
0     29.8      28.1      28.1
0      NaN       NaN      28.0
0     29.9      29.9      29.9
0     30.6      29.9      29.9
0      NaN      31.6      29.8
0      NaN       NaN       NaN
0     29.8      29.8       NaN
0      NaN      28.0       NaN
0      NaN       NaN       NaN
0     29.8      29.8       NaN
0      NaN      28.0       NaN
0     29.8      28.1      29.8
0     31.7      29.8      29.8
0      NaN       NaN       NaN
0      NaN       NaN       NaN
0      NaN       NaN       NaN
0     29.8      29.8      29.8
0      NaN       NaN       NaN
0     29.9       NaN       NaN
0     30.6      30.5      30.3
0     30.3      29.9      30.6
0     31.7      31.7      29.9
0      NaN       NaN       NaN
0     30.6      30.8      31.1
0     31.7      31.4      30.2
0     29.8      29.8      29.8
0     30.7      31.1      29.8
0     29.8       NaN      31.6
0     29.8      29.8      29.8
0      NaN      29.8       NaN
0     29.8      29.8       NaN
0      NaN       NaN       NaN
0      NaN       NaN       NaN
0      NaN       NaN       NaN
0      NaN       NaN       NaN
0     31.7      31.7       NaN
0     29.8       NaN      31.7
0     28.1      29.8      29.9
Sunshine Data:
   Year  January  February  March  April    May   June   July  August  \
0  2000    205.0     175.0  210.0  201.0  195.0  183.0  217.0   322.0
0  1991    182.0     305.0  209.0    NaN  241.0    NaN  197.0   198.0
0  1982    199.0     174.0    NaN    NaN  212.0  153.0  214.0     NaN
0  1995    215.0     223.0  208.0  230.0  229.0  180.0  168.0     NaN
0  1981      NaN     212.0  244.0    NaN  206.0    NaN  193.0     NaN
0  1988    267.0     188.0  214.0  215.0  292.0  163.0    NaN   220.0
0  1996      NaN       NaN    NaN    NaN    NaN    NaN  173.0     NaN
0  1984    206.0     184.0  228.0  170.0  203.0  163.0  194.0   200.0
0  2009    160.0     194.0  146.0  183.0  195.0  140.0  130.0     NaN
0  2010    187.0       NaN  276.0  251.0  218.0    NaN  162.0     NaN
0  2005      NaN     214.0  246.0  219.0    NaN  130.0    NaN   165.0
0  2015    249.0     240.0  296.0  231.0  212.0  155.0  212.0   204.0
0  2016    276.0       NaN  281.0  243.0  225.0  174.0  192.0   224.0
0  1987    253.0       NaN  241.0  270.0  232.0  185.0    NaN   191.0
0  1992      NaN     235.0  215.0  221.0  192.0  143.0  173.0   220.0
0  2007    187.0     218.0  212.0  248.0  226.0  155.0  163.0     NaN
0  1979    253.0       NaN    NaN  228.0  207.0    NaN  169.0     NaN
0  1980      NaN     230.0  249.0  232.0    NaN    NaN  213.0   195.0
0  1985    232.0       NaN  249.0    NaN  223.0    NaN  174.0   238.0
0  2002    230.0     232.0  247.0    NaN  211.0  114.0    NaN   172.0
0  1999    157.0       NaN  160.0  157.0  125.0   91.0    NaN   164.0
0  1978      NaN       NaN  257.0    NaN    NaN    NaN    NaN   170.0
0  1997    200.0     155.0  274.0  234.0  230.0  193.0  180.0   217.0
0  1998      NaN       NaN    NaN    NaN  213.0   98.0    NaN     NaN
0  1990    232.0     245.0  189.0  236.0    NaN  155.0  254.0     NaN
0  2003    241.0     206.0    NaN  251.0    NaN    NaN  150.0   195.0
0  1994    223.0     185.0  190.0  192.0  140.0    NaN  158.0   174.0
0  2004    244.0     180.0  230.0  230.0  203.0  155.0    NaN   210.0
0  2011      NaN     168.0  177.0  209.0  168.0  148.0  181.0   205.0
0  2001    220.0       NaN  188.0  204.0  196.0  143.0    NaN   130.0
0  2008    196.0     154.0  195.0  192.0  169.0    NaN  172.0   180.0
0  1986    162.0     207.0  210.0  238.0  250.0    NaN    NaN     NaN
0  2013    156.0     212.0  263.0  193.0  192.0  149.0    NaN   167.0
0  2012    168.0     165.0    NaN    NaN  196.0  223.0  167.0     NaN
0  2006    217.0     205.0    NaN  197.0  160.0  121.0  210.0     NaN
0  1993      NaN     183.0  225.0  220.0  235.0  159.0  191.0   177.0
0  2014    197.0     228.0  264.0  244.0  195.0  184.0  174.0   216.0
0  1989    267.0       NaN  183.0  182.0  187.0  175.0    NaN   376.0
0  1983    261.0     257.0  240.0  249.0  240.0  206.0  170.0   194.0

   September  October  November  December
0      208.0      NaN     202.0     262.0
0      188.0      NaN     239.0     239.0
0      180.0    197.0     271.0     268.0
0        NaN      NaN     208.0       NaN
0      168.0    148.0     234.0     261.0
0        NaN      NaN     147.0     203.0
0      180.0      NaN       NaN       NaN
0      189.0    128.0     245.0     222.0
0      162.0    250.0     215.0     260.0
0      215.0    176.0     214.0     219.0
0        NaN      NaN       NaN     150.0
0      164.0    209.0     232.0     274.0
0      175.0    187.0     201.0     229.0
0        NaN    235.0     226.0       NaN
0      181.0    121.0       NaN       NaN
0        NaN    189.0     150.0     238.0
0        NaN      NaN       NaN       NaN
0      195.0    195.0       NaN     197.0
0      237.0    174.0     222.0       NaN
0      172.0    224.0     212.0       NaN
0      211.0    204.0     168.0     187.0
0        NaN      NaN     209.0     245.0
0      156.0    235.0     247.0       NaN
0      183.0    106.0       NaN     195.0
0      166.0    225.0     187.0     246.0
0        NaN    164.0     236.0     173.0
0      234.0    210.0       NaN     229.0
0      181.0    200.0     248.0       NaN
0      194.0    223.0     206.0     188.0
0      245.0      NaN       NaN     206.0
0      178.0      NaN     164.0       NaN
0      185.0      NaN     179.0       NaN
0      202.0    166.0     229.0     217.0
0      151.0    227.0     225.0     220.0
0      145.0    162.0     237.0     224.0
0        NaN    101.0       NaN     195.0
0      188.0    186.0     235.0     234.0
0      181.0    170.0       NaN     237.0
0      165.0    177.0       NaN     209.0

Answer the following questions using the three dataframes. Provide all code and also write your final answer in the markdown cell provided under the question. Round all results to 4 decimal places.

<font color = 'blue'>**Question 1:** What is the total monthly precipitation in March (across all available years) in the data?</font>

<font color = 'green'>Type your answer here.</font>

##### The total monthly precipitation in March is 3780.0000

In [2]:
# your code here. Comment your code. Create as many code cells as you need.

#Calculate the total precipitation in March across all years
total_march_precipitation = precipitation_data['March'].sum()

# Result 
print(f"Total monthly precipitation in March: {total_march_precipitation:.4f}")

Total monthly precipitation in March: 3780.0000

<font color = 'blue'>**Question 2:** What is the average vapor pressure in January in the data?</font>

<font color = 'green'>Type your answer here.</font>

##### The average vapor pressure in January is 28.3444.

In [3]:
# your code here. Comment your code. Create as many code cells as you need.

#Extracted vapor pressure for January across all years and calculated mean to get the desired output
jan_vapor_pressure_avg = vapor_data['January'].mean()

# Result
print(f"The average vapor pressure in January is: {jan_vapor_pressure_avg:.4f}")

The average vapor pressure in January is: 28.3444

<font color = 'blue'>**Question 3:** What is the mean sunshine duration for February in the data?</font>

<font color = 'green'>Type your answer here.</font>

##### The mean sunshine duration for February is 206.2143.

In [4]:
# your code here. Comment your code. Create as many code cells as you need.

#Extracted sunshine duration for February across all years and calculated mean to get the desired output
feb_sunshine_dur_avg = sunshine_data['February'].mean()

# Result
print(f"The mean sunshine duration for February is: {feb_sunshine_dur_avg:.4f}")

The mean sunshine duration for February is: 206.2143

Next, create a new dataframe called combined_data that combines the three dataframes into one dataframe that meets the following specifications:

* Missing values are denoted by np.NaN
* Column names are in English instead of German
* The dataframe has the following columns
    - Year
    - Month
    - Total_Precipitation
    - Vapor_Pressure
    - Sunshine_Duration
* The dataframe has data only for those years for which we have files for all three quantities.

Perform the necessary checks to ensure that the data has been transformed correctly.

In [5]:
# your code here. Comment your code. Create as many code cells as you need.

# Melting all datasets  for easier merging
precipitation_data_melted = precipitation_data.melt(id_vars=['Year'], var_name='Month', value_name='Total_Precipitation')
vapor_data_melted = vapor_data.melt(id_vars=['Year'], var_name='Month', value_name='Vapor_Pressure')
sunshine_data_melted = sunshine_data.melt(id_vars=['Year'], var_name='Month', value_name='Sunshine_Duration')

# Merge vapor and precipitation datasets with an inner merge
combined_data = precipitation_data_melted.merge(vapor_data_melted, how='inner', left_on=['Year','Month'], right_on=['Year','Month'])

# Merge the sunshine duration dataset with an inner merge
combined_data = combined_data.merge(sunshine_data_melted, how='inner', left_on=['Year', 'Month'], right_on=['Year', 'Month'])

# Dictionary to convert months into numerical values (for arranging months in chronological order)
month_order = {'January': 1, 'February': 2, 'March': 3, 'April': 4, 'May': 5, 'June': 6, 'July': 7, 'August': 8, 'September': 9, 'October': 10, 'November': 11, 'December': 12}

# Replace the Month column with numeric values
combined_data['Month'] = combined_data['Month'].replace(month_order)

# Reset the index and sort by Year and Month
combined_data = combined_data.reset_index(drop=True).sort_values(['Year','Month'])

# Result
print("Combined Data:")
combined_data

Combined Data:

     Year  Month  Total_Precipitation  Vapor_Pressure  Sunshine_Duration
12   1978      1                 62.0            28.1                NaN
47   1978      2                 25.0             NaN                NaN
82   1978      3                 45.0            28.1              257.0
117  1978      4                 32.0            26.4                NaN
152  1978      5                 77.0             NaN                NaN
..    ...    ...                  ...             ...                ...
249  2016      8                 56.0            30.9              224.0
284  2016      9                123.0            30.3              175.0
319  2016     10                 75.0            30.6              187.0
354  2016     11                103.0            29.9              201.0
389  2016     12                 63.0            29.9              229.0

[420 rows x 5 columns]

Answer the following questions using the new combined dataframe. Provide all code and also write your final answer in the markdown cell provided under the question. Round all results to 4 decimal places.

<font color = 'blue'>**Question 4:** What is the total monthly precipitation in the data?</font>

<font color = 'green'>Type your answer here.</font>

##### The total monthly precipitation in the combined dataset is: 23096.0000

In [6]:
# your code here. Comment your code. Create as many code cells as you need.

total_monthly_precipitation = combined_data['Total_Precipitation'].sum()
total_monthly_precipitation

# Result
print(f"The total monthly precipitation in the combined dataset is: {(total_monthly_precipitation.sum()):.4f}")

The total monthly precipitation in the combined dataset is: 23096.0000

<font color = 'blue'>**Question 5:** What is the average monthly vapor pressure in the data?</font>

<font color = 'green'>Type your answer here.</font>
##### The average monthly vapor pressure in a combined dataset is: 29.8502

In [7]:
# your code here. Comment your code. Create as many code cells as you need.

avg_monthly_vapor_pressure = combined_data['Vapor_Pressure'].mean()
avg_monthly_vapor_pressure

# Result
print(f"The average monthly vapor pressure in the combined dataset is: {avg_monthly_vapor_pressure:.4f}")

The average monthly vapor pressure in the combined dataset is: 29.8502

<font color = 'blue'>**Question 6:** What is the mean monthly sunshine duration in the data?</font>

<font color = 'green'>Type your answer here.</font>

##### The mean monthly sunshine duration in combined dataset is: 205.0000

In [8]:
# your code here. Comment your code. Create as many code cells as you need.

monthly_avg_sunshine_duration = combined_data['Sunshine_Duration'].mean()

# Result
print(f"The mean monthly sunshine duration in the combined dataset is: {monthly_avg_sunshine_duration:.4f}")

The mean monthly sunshine duration in the combined dataset is: 205.0000

Handle missing values in the new dataframe using linear interpolation. Linear interpolation makes sense here because there may be a time trend in the data. So we want to fill missing values with values that would follow the trend. You should use the pandas `DataFrame.interpolate()` function for dataframes. Specify 'linear' as the `method` and 'both' as the `limit_direction` to perform the linear interpolation. Use the default values for the `limit`, `limit_area`, `downcast` and `**kwargs` arguments. Think about the mechanics of how to perform this interpolation to identify appropriate values for arguments. 

A key requirement for the interpolation to work correctly is that the dataframe on which the interpolate function is called should be sorted in ascending order by time. Make sure you sort the dataframe appropriately.

Perform checks to ensure that the interpolation worked correctly.

In [9]:
# your code here. Comment your code. Create as many code cells as you need.

# Renaming dataframe for my ease
interpolated_data = combined_data

# Create new columns with nearest linear interpolation
interpolated_data['Total_Precipitation_nearest'] = interpolated_data['Total_Precipitation'].interpolate(method='linear', limit_direction='both')
interpolated_data['Vapor_Pressure_nearest'] = interpolated_data['Vapor_Pressure'].interpolate(method='linear', limit_direction='both')
interpolated_data['Sunshine_Duration_nearest'] = interpolated_data['Sunshine_Duration'].interpolate(method='linear', limit_direction='both')

# Result
print("Interpolated data with nearest linear interpolation:")
print(interpolated_data)

Interpolated data with nearest linear interpolation:
     Year  Month  Total_Precipitation  Vapor_Pressure  Sunshine_Duration  \
12   1978      1                 62.0            28.1                NaN
47   1978      2                 25.0             NaN                NaN
82   1978      3                 45.0            28.1              257.0
117  1978      4                 32.0            26.4                NaN
152  1978      5                 77.0             NaN                NaN
..    ...    ...                  ...             ...                ...
249  2016      8                 56.0            30.9              224.0
284  2016      9                123.0            30.3              175.0
319  2016     10                 75.0            30.6              187.0
354  2016     11                103.0            29.9              201.0
389  2016     12                 63.0            29.9              229.0

     Total_Precipitation_nearest  Vapor_Pressure_nearest  \
12                          62.0               28.100000
47                          25.0               28.100000
82                          45.0               28.100000
117                         32.0               26.400000
152                         77.0               26.683333
..                           ...                     ...
249                         56.0               30.900000
284                        123.0               30.300000
319                         75.0               30.600000
354                        103.0               29.900000
389                         63.0               29.900000

     Sunshine_Duration_nearest
12                       257.0
47                       257.0
82                       257.0
117                      239.6
152                      222.2
..                         ...
249                      224.0
284                      175.0
319                      187.0
354                      201.0
389                      229.0

[420 rows x 8 columns]

Using the dataframe with interpolated values, answer the following questions. Round all results to 4 decimal places.

<font color = 'blue'>**Question 7:** What is the total monthly precipitation in the data?</font>

<font color = 'green'>Type your answer here.</font>
##### The following are the total monthly precipitations in the interpolated dataset: 23096.0000

In [10]:
# your code here. Comment your code. Create as many code cells as you need.
 
# Average of Total Precipitation nearest column
interpolated_total_monthly_precipitation = interpolated_data['Total_Precipitation_nearest'].sum()
interpolated_total_monthly_precipitation

print(f"Total Monthly Precipitation based on liner interpolation is: {interpolated_total_monthly_precipitation.sum():.4f}")

Total Monthly Precipitation based on liner interpolation is: 23096.0000

<font color = 'blue'>**Question 8:** What is the average vapor pressure in the data?</font>

<font color = 'green'>Type your answer here.</font>
##### The average vapor pressure in the interpolated dataset is: 29.6506

In [11]:
# your code here. Comment your code. Create as many code cells as you need.

# Mean of interpolated vapor pressure column
interpolated_average_vapor_pressure = interpolated_data['Vapor_Pressure_nearest'].mean()
print(f"Average Vapor Pressure based on liner interpolation is: {interpolated_average_vapor_pressure:.4f}")

Average Vapor Pressure based on liner interpolation is: 29.6506

<font color = 'blue'>**Question 9:** What is the mean sunshine duration in the data?</font>

<font color = 'green'>Type your answer here.</font>
##### The mean sunshine duration in the interpolated dataset: 204.0440

In [12]:
# your code here. Comment your code. Create as many code cells as you need.

interpolated_mean_sunshine_duration = interpolated_data['Sunshine_Duration_nearest'].mean()
print(f"Mean Sunshine Duration based on liner interpolation is: {interpolated_mean_sunshine_duration:.4f}")

Mean Sunshine Duration based on liner interpolation is: 204.0440

## Computations

The demand for certain products is weather dependent. We will simulate such a scenario here using the climate data that you have compiled so far. Use the latest dataframe that combines all three measurements (precipiation, vapor pressure and sunshine duration) and has interpolated values instead of missing values for this section.

An analyst has developed a demand forecasting model that incorporates the climate data. Their analysis shows that there was a significant shift in customer behavior in the year 2000. As a result, they created two demand forecasting models - one that applies to years before 2000 and one that applies to year 2000 and after.

**Before 2000:** $ \text{forecasted demand} = 1000 - 10.5 * \text{total precipitation} + 1.009 * \text{sunshine duration} $


**2000 and after:** $ \text{forecasted demand} = 1000 - 10.5 * \text{total precipitation} + 1.19 * \text{sunshine duration} $

Add a Demand_Forecast column to the dataframe and caclulate the forecasted demand using the above formulas. Note that it is theoretically possible for the result of the above equations to be negative. However the demand for a product cannot be negative. Ensure that when you calculate the forecasted demand, any negative values are converted to zeros.

In [13]:
# your code here. Comment your code. Create as many code cells as you need.

# Created demand_forecast list
demand_forecast = []

# Calculated demand formula with given formula & added into dataframe
for formula in range(len(interpolated_data)):
    if interpolated_data.iloc[formula]['Year'] < 2000:
        demand = 1000 - 10.5 * interpolated_data.iloc[formula]['Total_Precipitation_nearest'] + 1.009 * interpolated_data.iloc[formula]['Sunshine_Duration_nearest']
    else:
        demand = 1000 - 10.5 * interpolated_data.iloc[formula]['Total_Precipitation_nearest'] + 1.19 * interpolated_data.iloc[formula]['Sunshine_Duration_nearest']
    demand_forecast = demand_forecast + [max(demand, 0)]

interpolated_data['Demand_Forecast'] = demand_forecast

Answer the following questions using the dataframe that contains forecasted demand values. Round all results to 4 decimal places.

<font color = 'blue'>**Question 10:** What is the average forecasted demand?</font>

<font color = 'green'>Type your answer here.</font>
##### The average forecasted demand = 654.6923

In [14]:
# your code here. Comment your code. Create as many code cells as you need.

average_forecasted_demand = interpolated_data['Demand_Forecast'].mean() 
print(f"Average Forecasted Demand: {average_forecasted_demand:.4f}")

Average Forecasted Demand: 654.6923

<font color = 'blue'>**Question 11:** What is the average forecasted demand for 2011?</font>

<font color = 'green'>Type your answer here.</font>
##### The average forecased demand for 2011 = 501.5829

In [15]:
# your code here. Comment your code. Create as many code cells as you need.

average_forecasted_demand_2011 = interpolated_data[interpolated_data['Year'] == 2011]['Demand_Forecast'].mean() 
print(f"Average Forecasted Demand for 2011: {average_forecasted_demand_2011:.4f}")

Average Forecasted Demand for 2011: 501.5829

Typically future demand for a product is uncertain. The uncertainty of demand is captured by the standard deviation. The forecasting models discussed above provide an estimate of the standard deviation as well. Create a new column called StdDev_Demand and assign standard deviation values as follows. The standard deviation of demand for all years before 2000 should be 20. The standard deviation of demand for years 2000 or later should be 30.

In [16]:
# your code here. Comment your code. Create as many code cells as you need.

# Created empty column StdDev column
interpolated_data['StdDev_Demand'] = 0

# Assign standard deviation values as per year
for new_column in range(len(interpolated_data)):
    if interpolated_data.loc[new_column]['Year'] < 2000:
        interpolated_data.loc[new_column, 'StdDev_Demand'] = 20
    else:
        interpolated_data.loc[new_column, 'StdDev_Demand'] = 30

# Result
print("Check StdDev_Demand column data:")
print(interpolated_data.head(5))
print(interpolated_data.tail(5))

Check StdDev_Demand column data:
     Year  Month  Total_Precipitation  Vapor_Pressure  Sunshine_Duration  \
12   1978      1                 62.0            28.1                NaN
47   1978      2                 25.0             NaN                NaN
82   1978      3                 45.0            28.1              257.0
117  1978      4                 32.0            26.4                NaN
152  1978      5                 77.0             NaN                NaN

     Total_Precipitation_nearest  Vapor_Pressure_nearest  \
12                          62.0               28.100000
47                          25.0               28.100000
82                          45.0               28.100000
117                         32.0               26.400000
152                         77.0               26.683333

     Sunshine_Duration_nearest  Demand_Forecast  StdDev_Demand
12                       257.0         608.3130             20
47                       257.0         996.8130             20
82                       257.0         786.8130             20
117                      239.6         905.7564             20
152                      222.2         415.6998             20
     Year  Month  Total_Precipitation  Vapor_Pressure  Sunshine_Duration  \
249  2016      8                 56.0            30.9              224.0
284  2016      9                123.0            30.3              175.0
319  2016     10                 75.0            30.6              187.0
354  2016     11                103.0            29.9              201.0
389  2016     12                 63.0            29.9              229.0

     Total_Precipitation_nearest  Vapor_Pressure_nearest  \
249                         56.0                    30.9
284                        123.0                    30.3
319                         75.0                    30.6
354                        103.0                    29.9
389                         63.0                    29.9

     Sunshine_Duration_nearest  Demand_Forecast  StdDev_Demand
249                      224.0           678.56             30
284                      175.0             0.00             30
319                      187.0           435.03             30
354                      201.0           157.69             30
389                      229.0           611.01             30

When the demand for a product is uncertain, the stocking quantity (quantity to produce or buy from a supplier) depends on the proability distribution of demand. For normally distributed demand, the quantity can be calculated using the mean and standard deviation of demand and a safety stock multiplier. The demand forecast and standard deviations values that you generated earlier can be used as estimates of the mean and standard deviation of demand for a given month and year. Assuming a safety stock multiplier of 1.65, you can calculate the stocking quantity using the following formula. 

$\text{Stocking Quantity} = \text{Mean Demand} + 1.65 * \text{Std Dev of Demand} $


Create a 'Stocking_Quantity' column in the dataframe and calculate the stocking quantity for each row using the above formula.

In [17]:
# your code here. Comment your code. Create as many code cells as you need.

# Calculation of Stocking quanity
interpolated_data['Stocking_Quantity'] = interpolated_data['Demand_Forecast'] + 1.65 * interpolated_data['StdDev_Demand'] 
interpolated_data.head(5)

,Year,Month,Total_Precipitation,Vapor_Pressure,Sunshine_Duration,Total_Precipitation_nearest,Vapor_Pressure_nearest,Sunshine_Duration_nearest,Demand_Forecast,StdDev_Demand,Stocking_Quantity
12,1978,1,62.0,28.1,NaN,62.0,28.100000,257.0,608.3130,20,641.3130
47,1978,2,25.0,NaN,NaN,25.0,28.100000,257.0,996.8130,20,1029.8130
82,1978,3,45.0,28.1,257.0,45.0,28.100000,257.0,786.8130,20,819.8130
117,1978,4,32.0,26.4,NaN,32.0,26.400000,239.6,905.7564,20,938.7564
152,1978,5,77.0,NaN,NaN,77.0,26.683333,222.2,415.6998,20,448.6998

Answer the following questions using the latest dataframe. Round all results to 4 decimal places.

<font color = 'blue'>**Question 12:** What is the average stocking quantity for 1978?</font>

<font color = 'green'>Type your answer here.</font>
##### The average stocking quanity for the year 1978 is: 798.9710

In [18]:
# your code here. Comment your code. Create as many code cells as you need.

# Seperated 1978 dataset from the interpolated data
extracted_1978_data = interpolated_data[interpolated_data['Year'] == 1978]
extracted_1978_data

# Average of Stocking Quantity Column
stocking_qty_avg_1978 = extracted_1978_data['Stocking_Quantity'].mean()

# Result
print(f"Average Stocking Quantity for 1978: {stocking_qty_avg_1978:.4f}")

Average Stocking Quantity for 1978: 798.9710

<font color = 'blue'>**Question 13:** What is the average stocking quantity for 2016?</font>

<font color = 'green'>Type your answer here.</font>
##### The average stocking quanity for the year 2016 is " 764.4996 ".

In [19]:
# your code here. Comment your code. Create as many code cells as you need.

# Seperated 2016 dataset from the interpolated data
extracted_2016_data = interpolated_data[interpolated_data['Year'] == 2016]
extracted_2016_data

# Average of Stocking Quantity Column
stocking_qty_avg_2016 = extracted_2016_data['Stocking_Quantity'].mean()

# Result
print(f"Average Stocking Quantity for 2016: {stocking_qty_avg_2016:.4f}")

Average Stocking Quantity for 2016: 764.4996

## Validate your notebook

Restart the kernel and re-run your notebook by selecting Kernel > Restart Kernel and Run All Cells from the Menubar. 

Then, validate your work. Check to make sure that there are no errors and that the responses you wrote in the markdown cells match the results you get from the code cells.

## <font color='red'>Academic Integrity Check </font>

<font color = "red">**All academic integrity guidelines specified in the syllabus apply to this project as well. DO NOT use concepts and functions not previously discussed in the course (even if you learned them elsewhere). Doing so will result in a score of zero for the question where such code is used and could be considered an AI violation. It is your responsibility to review your code to ensure that you have only used concepts and functions covered in the course.** </font>

## Take the Canvas quiz

Remember you can take the quiz at most five times.